body {
    background-color: #302e2b;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    text-align: center;
}

.controls-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px
}

#gameboard {
    width: 400px;
    height: 400px;
    background-color: #eeeed2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid #5a5a5a;
}

/* THE SQUARES */
.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    user-select: none;
}

/* Square Colors */
.beige {
    background-color: #eeeed2;
    color: black;
}

.brown {
    background-color: #769656;
    color: black;
}

.piece {
    transition: transform 1s;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.selected {
    background-color: yellow !important;
}

.check{
   background-color: #ff4d4d !important;
}

.promotion-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid black;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.promotion-option {
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    background: #eee;
}

.promotion-option:hover {
    background: #ccc;
}

.piece{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    pointer-events: none;
}

/* Captured Pieces*/
.captured-area{
    height: 40px;
    display: flex;
    gap: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    align-items: center;
}

.captured-piece{
    height: 30px;
    width: 30px;
}